<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @sponsership.name %> 님 <%= @sponsership.center.name %>에 잘 전달되었습니다.</p>
    <p>감사합니다.</p>
  </body>
</html>
